@model LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="FormCl">
    <h2>Login</h2>

    <form asp-controller="User" asp-action="login" method="post">
        <label asp-for="Email"></label>
        <br />
        <input asp-for="Email" spellcheck="false" />
        <span asp-validation-for="Email"></span>
        <br />
        <br />
        <label asp-for="Password"></label>
        <br />
        <input asp-for="Password" spellcheck="false" />
        <span asp-validation-for="Password"></span>
        <br />
        <br />
        <input type="submit" value="Enter" class="Button" />
    </form>
</div>

@section scripts
{
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
}