@model Post

@if (Model.PostName != null || Model.PostText != null)
{
    <a asp-controller="Post" asp-action="GetPost" asp-route-id="@Model.Id">
        <h2>@Model.PostName</h2>
    </a>
    <br />
    <label>@Model.PostDate</label>
    <br />
    <p>@Model.PostPreview</p>
    <hr />
}