@model PostViewModel

<div class="PostsCl" id="PostId">

    @*@foreach (var p in Model.Posts)
    {
        <h2>p.PostName</h2>
        <br/>
        <label>p.PostDate</label>
        <br/>
        <label>p.PostPreview</label>
        <br/>
        <hr/>
    }*@
</div>

@*<script>
    let post = document.getElementById("PostId");

    post.remove();

    for (let k = 0; k < @Model.Posts.Count; k++)
    {
        let div = document.createElement("div");

        let h2 = document.createElement("h2");
        h2.innerText = @Model.Posts[k].PostName;
        div.append(h2);

        div.append(document.createElement("br"));

        let labelDate = document.createElement("label");
        labelDate.innerText = @Model.Posts[k].PostDate;
        div.append(labelDate);

        div.append(document.createElement("br"));

        let labelPrev = document.createElement("label");
        labelPrev.innerText = @Model.Posts[k].PostPreview;

        div.append(document.createElement("br"));
        div.append(document.createElement("hr"));

        post.append(div);
    }

</script>*@
