@model PostViewModel

<div class="PostsCl" id="PostId">

    @*@foreach (var p in Model.Posts)
        {
            <h2>p.PostName</h2>
            <br/>
            <label>p.PostDate</label>
            <br/>
            <label>p.PostPreview</label>
            <br/>
            <hr/>
        }*@
</div>

<script>
    let post = document.getelementbyıd("postıd");

    post.remove();

    @{int k = 0;}

    for (@k < @Model.posts.count; @k++)
    {
        let div = document.createelement("div");

        let h2 = document.createelement("h2");
        h2.innertext = @Model.Posts[k].PostName;
        div.append(h2);

        div.append(document.createelement("br"));

        let labeldate = document.createelement("label");
        labeldate.innertext = @Model.posts[k].postdate;
        div.append(labeldate);

        div.append(document.createelement("br"));

        let labelprev = document.createelement("label");
        labelprev.innertext = @model.posts[k].postpreview;

        div.append(document.createelement("br"));
        div.append(document.createelement("hr"));

        post.append(div);
    }

</script>
